---
http_interactions:
- request:
    method: post
    uri: http://ptv.dev.satelicom.com:50030/xroute/rs/XRoute/calculateRouteInfo
    body:
      encoding: UTF-8
      string: '{"waypoints":[{"$type":"WaypointDesc","coords":[{"$type":"Point","point":{"$type":"PlainPoint","x":1191893,"y":4541299}}],"linkType":"NEXT_SEGMENT"},{"$type":"WaypointDesc","coords":[{"$type":"Point","point":{"$type":"PlainPoint","x":1157538,"y":4554948}}],"linkType":"NEXT_SEGMENT"}],"options":[],"exceptionPaths":[],"callerContext":{"properties":[{"key":"Profile","value":"car"},{"key":"CoordFormat","value":"PTV_GEODECIMAL"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      xserver-host:
      - fe80:0:0:0:0:5efe:c0a8:6424%net4
      xserver-ip:
      - fe80:0:0:0:0:5efe:c0a8:6424%net4, 192.168.100.36, 2001:0:5ef5:79fb:1041:31b6:3f57:9bdb,
        fe80:0:0:0:1041:31b6:3f57:9bdb%net5
      xserver-request-id:
      - ea43a3b5-d973-4696-aca0-7648dc6506ca
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"distance":36808,"time":1972,"cost":24068}'
  recorded_at: Tue, 21 Jun 2016 10:16:26 GMT
recorded_with: VCR 3.0.1
