---
http_interactions:
- request:
    method: post
    uri: http://ptv.dev.satelicom.com:50020/xlocate/rs/XLocate/findAddresses
    body:
      encoding: UTF-8
      string: '{"addrs":[{"$type":"Address","country":"I","postCode":"","city":"Padova","city2":"","street":"Via
        prima strada 11","houseNumber":""},{"$type":"Address","country":"I","postCode":"","city":"Padova","city2":"","street":"via
        cengio","houseNumber":""}],"options":[],"sorting":[],"additionalFields":[],"callerContext":{"properties":[{"key":"Profile","value":"car"},{"key":"CoordFormat","value":"PTV_GEODECIMAL"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      xserver-host:
      - fe80:0:0:0:0:5efe:c0a8:6424%net4
      xserver-ip:
      - fe80:0:0:0:0:5efe:c0a8:6424%net4, 192.168.100.36, 2001:0:5ef5:79fb:1041:31b6:3f57:9bdb,
        fe80:0:0:0:1041:31b6:3f57:9bdb%net5
      xserver-request-id:
      - 4ceb799d-da9c-4b26-9542-ecdb86707126
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"errorCode":0,"errorDescription":"","resultList":[{"$type":"ResultAddress","country":"I","state":"Veneto","postCode":"35129","city":"Padova","city2":"","street":"Prima
        Strada","houseNumber":"11","adminRegion":"Padova","appendix":"","countryCapital":"Roma","totalScore":81,"detailLevelDescription":"HNRINTERPOLATED","classificationDescription":"HIGH","coordinates":{"$type":"Point","point":{"$type":"PlainPoint","x":1191792.0,"y":4541288.0}},"additionalFields":[]}]},{"errorCode":0,"errorDescription":"","resultList":[{"$type":"ResultAddress","country":"I","state":"Veneto","postCode":"35138","city":"Padova","city2":"","street":"Via
        Monte Cengio","houseNumber":"","adminRegion":"Padova","appendix":"","countryCapital":"Roma","totalScore":91,"detailLevelDescription":"STREET","classificationDescription":"UNIQUE","coordinates":{"$type":"Point","point":{"$type":"PlainPoint","x":1185796.0,"y":4540953.0}},"additionalFields":[]}]}]'
  recorded_at: Tue, 21 Jun 2016 10:16:24 GMT
recorded_with: VCR 3.0.1
