---
http_interactions:
- request:
    method: post
    uri: http://ptv.dev.satelicom.com:50020/xlocate/rs/XLocate/findAddress
    body:
      encoding: UTF-8
      string: '{"addr":{"$type":"Address","country":"I","postCode":"","city":"Padova","city2":"","street":"Via
        prima strada 11","houseNumber":""},"options":[],"sorting":[],"additionalFields":["POPULATION"],"callerContext":{"properties":[{"key":"Profile","value":"car"},{"key":"CoordFormat","value":"PTV_GEODECIMAL"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      xserver-host:
      - fe80:0:0:0:0:5efe:c0a8:6424%net4
      xserver-ip:
      - fe80:0:0:0:0:5efe:c0a8:6424%net4, 192.168.100.36, 2001:0:5ef5:79fb:1041:31b6:3f57:9bdb,
        fe80:0:0:0:1041:31b6:3f57:9bdb%net5
      xserver-request-id:
      - cf196fae-32e0-4719-93c4-fe5b3992c6f8
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":0,"errorDescription":"","resultList":[{"$type":"ResultAddress","country":"I","state":"Veneto","postCode":"35129","city":"Padova","city2":"","street":"Prima
        Strada","houseNumber":"11","adminRegion":"Padova","appendix":"","countryCapital":"Roma","totalScore":81,"detailLevelDescription":"HNRINTERPOLATED","classificationDescription":"HIGH","coordinates":{"$type":"Point","point":{"$type":"PlainPoint","x":1191792.0,"y":4541288.0}},"additionalFields":[{"field":"POPULATION","value":"12"}]}]}'
  recorded_at: Tue, 21 Jun 2016 10:16:23 GMT
recorded_with: VCR 3.0.1
