---
http_interactions:
- request:
    method: post
    uri: http://ptv.dev.satelicom.com:50020/xlocate/rs/XLocate/findCombinedTransportByLocation
    body:
      encoding: UTF-8
      string: '{"location":{"$type":"Location","coordinate":{"$type":"Point","point":{"$type":"PlainPoint","x":1192353,"y":4541272}}},"options":[],"additionalFields":[],"callerContext":{"properties":[{"key":"Profile","value":"car"},{"key":"CoordFormat","value":"PTV_GEODECIMAL"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      xserver-host:
      - fe80:0:0:0:0:5efe:c0a8:6424%net4
      xserver-ip:
      - fe80:0:0:0:0:5efe:c0a8:6424%net4, 192.168.100.36, 2001:0:5ef5:79fb:1041:31b6:3f57:9bdb,
        fe80:0:0:0:1041:31b6:3f57:9bdb%net5
      xserver-request-id:
      - 00f39df8-d09d-475e-94fe-db8bf5fee24f
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":0,"errorDescription":"","resultList":[{"id":"VjEoMzk7MTE0NjgzNTQ5OTsyMDQ7MTI3OzApKDMwOzEyMDMzOTIxOTA7MTI5Ozg7MClWZW5lemlhIFRlcm1pbmFsIEZ1c2luYS1QYXRyYXNzbw==","name":"Venezia
        Terminal Fusina-Patrasso","duration":157200,"distance":26188.17172283348,"type":1,"start":{"coordinate":{"$type":"Point","point":{"$type":"PlainPoint","x":1225857.3291,"y":4542543.8561}},"country":"I","name":"Venezia
        Terminal Fusina"},"destination":{"coordinate":{"$type":"Point","point":{"$type":"PlainPoint","x":2173653.0251,"y":3825570.2676}},"country":"GR","name":"Patra"},"combinedTransportFields":[]},{"id":"VjEoMzk7MTE0NjgzNTQ5OTsyMTE7OTU7MCkoMzA7MTE5NDU0NDk3MzsyMDc7MjQ3OzApVmVuZXppYS1JZ291bWVuaXRzYQ==","name":"Venezia-Igoumenitsa","duration":139920,"distance":26206.387384982278,"type":1,"start":{"coordinate":{"$type":"Point","point":{"$type":"PlainPoint","x":1225887.6064,"y":4542446.7137}},"country":"I","name":"Venezia"},"destination":{"coordinate":{"$type":"Point","point":{"$type":"PlainPoint","x":2025674.9743,"y":3948684.5956}},"country":"GR","name":"Igoumenitsa"},"combinedTransportFi[...]
