---
http_interactions:
- request:
    method: post
    uri: http://ptv.dev.satelicom.com:50020/xlocate/rs/XLocate/findAddressByText
    body:
      encoding: UTF-8
      string: '{"address":"via prima strada, Padova","country":"I","options":[],"sorting":[],"additionalFields":[],"callerContext":{"properties":[{"key":"Profile","value":"car"},{"key":"CoordFormat","value":"PTV_GEODECIMAL"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      xserver-host:
      - fe80:0:0:0:0:5efe:c0a8:6424%net4
      xserver-ip:
      - fe80:0:0:0:0:5efe:c0a8:6424%net4, 192.168.100.36, 2001:0:5ef5:79fb:1041:31b6:3f57:9bdb,
        fe80:0:0:0:1041:31b6:3f57:9bdb%net5
      xserver-request-id:
      - 8dec6c1c-0626-4667-878a-68036d544c3b
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":0,"errorDescription":"","resultList":[{"$type":"ResultAddress","country":"I","state":"Veneto","postCode":"35129","city":"Padova","city2":"","street":"Prima
        Strada","houseNumber":"","adminRegion":"Padova","appendix":"","countryCapital":"Roma","totalScore":100,"detailLevelDescription":"STREET","classificationDescription":"HIGH","coordinates":{"$type":"Point","point":{"$type":"PlainPoint","x":1192353.0,"y":4541272.0}},"additionalFields":[]}]}'
  recorded_at: Tue, 21 Jun 2016 10:16:22 GMT
recorded_with: VCR 3.0.1
