---
http_interactions:
- request:
    method: post
    uri: http://ptv.dev.satelicom.com:50090/xtour/rs/XTour/planSequence
    body:
      encoding: UTF-8
      string: '{"transportOrders":[{"$type":"SequencingTransportDepot","id":1,"transportPoint":{"$type":"TransportPoint","tourSection":0,"servicePeriod":0,"useServicePeriodForRecreation":false,"allowServiceSplit":false,"openingIntervalConstraint":"START_OF_SERVICE","coDriverRequired":false,"id":1,"location":{"$type":"Point","point":{"$type":"PlainPoint","x":1191893,"y":4541299}}}},{"$type":"SequencingTransportDepot","id":2,"transportPoint":{"$type":"TransportPoint","tourSection":0,"servicePeriod":0,"useServicePeriodForRecreation":false,"allowServiceSplit":false,"openingIntervalConstraint":"START_OF_SERVICE","coDriverRequired":false,"id":2,"location":{"$type":"Point","point":{"$type":"PlainPoint","x":1157538,"y":4554948}}}}],"depots":[{"$type":"Depot","id":1,"location":{"$type":"Point","point":{"$type":"PlainPoint","x":1192353,"y":4541272}}}],"vehicle":{"$type":"SequencingVehicle","dimaId":1,"depotIdStart":1,"depotIdEnd":1},"sequencingParams":{"$type":"SequencingParams","coDriverTransportPointsInSeparateTours":false,"distanceMatrixCalculation":[{"$type":"DistanceMatrixByRoad","dimaId":1,"deleteBeforeUsage":true,"deleteAfterUsage":true}]},"inputPlan":null,"callerContext":{"properties":[{"key":"Profile","value":"car"},{"key":"CoordFormat","value":"PTV_GEODECIMAL"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      xserver-host:
      - fe80:0:0:0:0:5efe:c0a8:6424%net4
      xserver-ip:
      - fe80:0:0:0:0:5efe:c0a8:6424%net4, 192.168.100.36, fe80:0:0:0:0:ffff:ffff:fffe%net5
      xserver-request-id:
      - 4cbb3f30-e21c-4f5c-9184-eb03dee82b3a
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"tour":{"$type":"SequencingTour","startTimeFixed":false,"result":{"$type":"SequencingTourResult","period":4013,"drivingPeriod":4013,"distance":73452,"distanceFromFirstToLastTransportPoint":36952,"maxDistanceBetweenTransportPoints":36952,"servicePeriod":0,"restPeriod":0,"breakPeriod":0,"earliness":0,"waitingPeriod":0,"transportPointCount":2,"startTime":0,"startTimeLatest":2147483647,"coDriverRequired":false,"totalCosts":{"$type":"TotalCosts","costsPerKm":0.0,"fixedCosts":0.0,"costsPerHour":0.0,"totalCosts":0.0},"depotUploadingPeriod":0,"depotUnloadingPeriod":0,"depotAvailabilityForDeliveries":0,"tourChanged":true,"remainingPeriods":"22
        serialization::archive 9 0 2 0 0 1 4 0 4 0 0 0 0 16200 0 0 0 1 0 39600 0 259200
        0 0 3 2147483647 2147483647 2147483647 0 0 0 0 0 1 0 0 0 259200 0 0 864000
        0 0 259200 0 0 6 0 0 0 259200 0 0 0 0 0 0 0 0 0 3 0 0 4013 2147483647 0 4013
        0 0 0 4 0 0 0 0 0 0 0 2 0 0 2 0 0 0 0 0 4 0 0 0 0 4 0 0 0 0 0 6 0 16200 900
        1800 0 39600 10800 32400 32400 3 32400 36000 2 604800 86400 0 518400 201600
        162000 324000 345600 0 1800 2700 21600 32400 900 28800 172800 39600 0 0 0
        0 0 0 0 0 0 0 900 19800 28800 39600 0 25200 86400 43200 0 86400 604800 259200
        900"},"tourPoints":[{"$type":"SequencingTourPoint","id":1,"type":"DEPOT","result":{"arrivalTime":0,"startServiceTime":0,"endServiceTime":0,"departureTime":0,"drivingPeriod":0,"waitingPeriod":0,"servicePeriod":0,"breakPeriodOnRoad":0,"breakPeriodAtTourPoint":0,"restPeriodOnRoad":0,"restPeriodAtTourPoint":0,"earliness":0,"delay":0,"startDistance":0,"drivingDistance":0}},{"$type":"SequencingTourPoint","id":2,"type":"TRANSPORT_POINT","result":{"orderId":2,"arrivalTime":1933,"startServiceTime":1933,"endServiceTime":1933,"departureTime":1933,"drivingPeriod":1933,"waitingPeriod":0,"servicePeriod":0,"breakPeriodOnRoad":0,"breakPeriodAtTourPoint":0,"restPeriodOnRoad":0,"restPeriodAtTourPoint":0,"earliness":0,"delay":0,"startDistance":36115,"drivingDistance":36115}},{"$type":"SequencingTourPoint","id":1,"type":"TRANSPORT_POINT","result":{"orderId":1,"arrivalTime":3957,"startServiceTime":3957,"endServiceTime":3957,"departureTime":3957,"drivingPeriod":[...]
