---
http_interactions:
- request:
    method: post
    uri: http://ptv.dev.satelicom.com:50090/xtour/rs/XTour/planSequence
    body:
      encoding: UTF-8
      string: '{"transportOrders":[{"$type":"SequencingTransportDepot","id":3,"transportPoint":{"$type":"TransportPoint","tourSection":0,"servicePeriod":0,"useServicePeriodForRecreation":false,"allowServiceSplit":false,"openingIntervalConstraint":"START_OF_SERVICE","coDriverRequired":false,"id":2,"location":{"$type":"Point","point":{"$type":"PlainPoint","x":1157543,"y":4554952}}}},{"$type":"SequencingTransportDepot","id":5,"transportPoint":{"$type":"TransportPoint","tourSection":0,"servicePeriod":0,"useServicePeriodForRecreation":false,"allowServiceSplit":false,"openingIntervalConstraint":"START_OF_SERVICE","coDriverRequired":false,"id":4,"location":{"$type":"Point","point":{"$type":"PlainPoint","x":1090213,"y":4463696}}}},{"$type":"SequencingTransportDepot","id":7,"transportPoint":{"$type":"TransportPoint","tourSection":0,"servicePeriod":0,"useServicePeriodForRecreation":false,"allowServiceSplit":false,"openingIntervalConstraint":"START_OF_SERVICE","coDriverRequired":false,"id":6,"location":{"$type":"Point","point":{"$type":"PlainPoint","x":1099440,"y":4543916}}}},{"$type":"SequencingTransportDepot","id":9,"transportPoint":{"$type":"TransportPoint","tourSection":0,"servicePeriod":0,"useServicePeriodForRecreation":false,"allowServiceSplit":false,"openingIntervalConstraint":"START_OF_SERVICE","coDriverRequired":false,"id":8,"location":{"$type":"Point","point":{"$type":"PlainPoint","x":1134335,"y":4449101}}}},{"$type":"SequencingTransportDepot","id":11,"transportPoint":{"$type":"TransportPoint","tourSection":0,"servicePeriod":0,"useServicePeriodForRecreation":false,"allowServiceSplit":false,"openingIntervalConstraint":"START_OF_SERVICE","coDriverRequired":false,"id":10,"location":{"$type":"Point","point":{"$type":"PlainPoint","x":1161949,"y":4483733}}}}],"depots":[{"$type":"Depot","id":1,"location":{"$type":"Point","point":{"$type":"PlainPoint","x":1191891,"y":4541298}},"openingIntervals":[{"$type":"Interval","from":3600,"till":36000}]}],"vehicle":{"$type":"SequencingVehicle","dimaId":1,"depotIdStart":1,"depotIdEnd":1,"isPreloaded":true,"ignoreTransportPointServicePeriod":false,"coDriverStatus":"NEVER","toursMustFitIntoSingleOperatingInterval":true,"operatingIntervals":[{"$type":"Interval","from":3600,"till":36000}]},"sequencingParams":{"$type":"SequencingParams","coDriverTransportPointsInSeparateTours":false,"distanceMatrixCalculation":[{"$type":"DistanceMatrixByRoad","dimaId":1,"deleteBeforeUsage":true,"deleteAfterUsage":true}]},"inputPlan":null,"callerContext":{"properties":[{"key":"Profile","value":"car"},{"key":"CoordFormat","value":"PTV_GEODECIMAL"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      xserver-host:
      - fe80:0:0:0:0:5efe:c0a8:6424%net4
      xserver-ip:
      - fe80:0:0:0:0:5efe:c0a8:6424%net4, 192.168.100.36, fe80:0:0:0:0:ffff:ffff:fffe%net5
      xserver-request-id:
      - 0f351a65-4b28-418c-99a7-352b0947d966
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"tour":{"$type":"SequencingTour","startTimeFixed":false,"result":{"$type":"SequencingTourResult","period":18643,"drivingPeriod":18643,"distance":374234,"distanceFromFirstToLastTransportPoint":259108,"maxDistanceBetweenTransportPoints":105202,"servicePeriod":0,"restPeriod":0,"breakPeriod":0,"earliness":0,"waitingPeriod":0,"transportPointCount":5,"startTime":3600,"startTimeLatest":17357,"coDriverRequired":false,"totalCosts":{"$type":"TotalCosts","costsPerKm":0.0,"fixedCosts":0.0,"costsPerHour":0.0,"totalCosts":0.0},"depotUploadingPeriod":0,"depotUnloadingPeriod":0,"depotAvailabilityForDeliveries":0,"tourChanged":true,"remainingPeriods":"22
        serialization::archive 9 0 2 0 0 1 4 0 4 0 0 0 0 16200 0 0 0 1 0 39600 0 259200
        0 0 3 2147483647 2147483647 2147483647 0 0 0 0 0 1 0 0 0 259200 0 0 864000
        0 0 259200 0 0 6 0 0 0 259200 0 0 0 0 0 0 0 0 0 3 0 0 22243 2147483647 0 22243
        0 0 0 4 0 0 0 0 0 0 0 2 0 0 2 0 0 0 0 0 4 0 0 0 0 4 0 0 0 0 0 6 0 16200 900
        1800 0 39600 10800 32400 32400 3 32400 36000 2 604800 86400 0 518400 201600
        162000 324000 345600 0 1800 2700 21600 32400 900 28800 172800 39600 0 0 0
        0 0 0 0 0 0 0 900 19800 28800 39600 0 25200 86400 43200 0 86400 604800 259200
        900"},"tourPoints":[{"$type":"SequencingTourPoint","id":1,"type":"DEPOT","result":{"arrivalTime":3600,"startServiceTime":3600,"endServiceTime":3600,"departureTime":3600,"drivingPeriod":0,"waitingPeriod":0,"servicePeriod":0,"breakPeriodOnRoad":0,"breakPeriodAtTourPoint":0,"restPeriodOnRoad":0,"restPeriodAtTourPoint":0,"earliness":0,"delay":0,"startDistance":0,"drivingDistance":0}},{"$type":"SequencingTourPoint","id":2,"type":"TRANSPORT_POINT","result":{"orderId":3,"arrivalTime":5572,"startServiceTime":5572,"endServiceTime":5572,"departureTime":5572,"drivingPeriod":1972,"waitingPeriod":0,"servicePeriod":0,"breakPeriodOnRoad":0,"breakPeriodAtTourPoint":0,"restPeriodOnRoad":0,"restPeriodAtTourPoint":0,"earliness":0,"delay":0,"startDistance":36815,"drivingDistance":36815}},{"$type":"SequencingTourPoint","id":6,"type":"TRANSPORT_POINT","result":{"orderId":7,"arrivalTime":8727,"startServiceTime":8727,"endServiceTime":8727,"departureTime":8727,"drivingPeriod":[...]
[...]
